/* Font */
$font: 'Lato', sans-serif;

/* Size */
$desktopWidth: 1140px;
$mainFontSize: 16px;
$mainFontWeight: 300;
$mainLineHeight: 1.4;

/* Breakpoints */
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 320px;

/* Colors */
$default-color: #ffffff;
$dark-color: #000000;
$light-color: #5A98D0;
$primary-color: #1F3F68;